---
layout: default
title: "The Songs of Enoch – Chapter 2"
---

<div class="wrapper">

  {% include left-sidebar.html %}

  <div class="main-content">

    <div class="scroll-note">Scroll down to read Chapter 2 - The Creation of A-dam</div>

    <div class="chapter-pages">
      {% for i in (1..24) %}
        <img src="assets/images/ch2_pg{{ i }}.jpg" alt="Chapter 2 Page {{ i }}" />
      {% endfor %}
    </div>

    {% include footer.html %}

  </div>

  {% include right-sidebar.html %}

</div>
