 <!-- Right Menu -->
    <div class="menu-right">
  <div class="menu-box">
    <a href="#">About</a>
    <a href="#">Characters</a>
    <a href="#">World Lore</a>
    <a href="#">Sketchbook</a>
  </div>
  <div class="menu-box">
    <div style="text-align:center; font-cinzel font-weight: bold; color:#67c9a7; font-size: 28px; margin-bottom: 10px;">Follow Eric:</div>
    <a href="#">Patreon</a>
    <a href="#">X</a>
    <a href="#">Instagram</a>
    <a href="#">YouTube</a>
    <a href="#">Newsletter</a>
    <a href="#">Webtoons</a>
  </div>
</div>
